body
{
 background-color: #3c3c3c;
 color: white;
}

.title
{
 color: white;
 font-size: 20px;
}

.textareas
{
 display: flex;
}

textarea::placeholder, input[type=number]::placeholder, input[type=text]::placeholder
{
 color: lightgrey;
}

textarea
{
 background-color: #3c3c3c;
 color: white;
 outline: none;
 resize: none;
}

input[type=button] 
{
 background-color: #3c3c3c;
 color: white;
 border: 1px solid lightgrey;
}

input[type=number], input[type=text], select
{
 background-color: #3c3c3c;
 color: white;
 width: 150px;
 border: 1px solid lightgrey;
}

select 
{
 width: 200px;
}